<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<header th:replace="fragments/headerAnonymous">
</header>
<body>

<div class="container">

    <div class="row justify-content-md-center" style="margin-top: 75px">
        <div class="col-lg-8 mb-4">
            <div class="text-center">
                <h3 style="font-family: Corbel">Enter your e-mail address and we'll send you a new password.</h3>
            </div>

            <form name="sentMessage" id="contactForm" novalidate action="#" th:action="@{/forgotPassword}"
                  th:object="${userEmail}" method="post">

                <div class="control-group form-group">
                    <div class="controls">
                        <input type="text"
                               id="username"
                               th:field="*{userName}"
                               class="form-control"
                               autofocus="autofocus"
                               placeholder="E-mail address"
                               required
                               data-validation-required-message="Please enter your username.">
                        <p class="help-block"></p>
                        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                              th:style="'color:red'"></span>

                    </div>
                    <script>
                        function information() {
                            alert("\n" +
                                "A new password has been sent to the e-mail address provided")
                        };

                    </script>
                </div>

                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-secondary" onclick="information()" style="width:50%;"
                            id="register">Submit
                    </button>
                </div>
            </form>

        </div>
    </div>
    <p><a href="/" th:href="@{/}" style="color: #1b1e21">Back to home page</a></p>
</div>
</body>
</html>