<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/headerAnonymous">
</header>


<body>


<div class="container">
    <h3>No results, please try again. </h3>
</div>


<footer th:replace="fragments/footer">
</footer>
<body>


<script src="@{../static/css/vendor/jquery/jquery.min.js}" th:src="@{/css/vendor/jquery/jquery.min.js}"></script>
<script src="@{../static/css/vendor/js/bootstrap.bundle.min.js}"
        th:src="@{/css/vendor/js/bootstrap.bundle.min.js}"></script>

</body>