<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<header th:replace="fragments/headerUser">
</header>
<body>
<div class="container" style="font-family: Corbel ">
    <div class="row justify-content-md-left" style="margin-top: 15px">
        <div class="col-lg-8 mb-4">
            <h1>Account settings</h1>
            <ul>
                <h4>
                    <li class="active">
                        <a th:href="@{/accountInformation}" style="color: #1b1e21">Account information</a>
                    </li>
                </h4>
                <h4>
                    <li class="active">
                        <a th:href="@{/reset}" style="color: #1b1e21">Reset password</a>
                    </li>
                </h4>

                <h4>
                    <li class="active" style="color: #1b1e21">
                        <a th:href="@{/userNickReset}" style="color: #1b1e21">Change user nick</a>
                    </li>
                </h4>
            </ul>


        </div>

    </div>
</div>

<footer class="py-5 bg-dark " style="position: absolute; bottom: 0; width: 100%">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; GetYourMovie
            <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    | Logged user: <span sec:authentication="name"></span> |
                    <a th:href="@{/logout}">Sign Out</a>
                </span>
        </p>
    </div>

</footer>
<script src="@{../static/css/vendor/jquery/jquery.min.js}" th:src="@{/css/vendor/jquery/jquery.min.js}"></script>
<script src="@{../static/css/vendor/js/bootstrap.bundle.min.js}"
        th:src="@{/css/vendor/js/bootstrap.bundle.min.js}"></script>

</body>
</html>